USE [master]
GO
/****** Object:  Database [ElochniBookStore2]    Script Date: 21.05.2026 7:23:37 ******/
CREATE DATABASE [ElochniBookStore2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElochniBookStore2', FILENAME = N'D:\sqlll\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElochniBookStore2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElochniBookStore2_log', FILENAME = N'D:\sqlll\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElochniBookStore2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElochniBookStore2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElochniBookStore2]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorFirstName] [nvarchar](50) NOT NULL,
	[AuthorSecondName] [nvarchar](50) NOT NULL,
	[AuthorPatronymic] [nvarchar](50) NULL,
	[AuthorBio] [nvarchar](max) NULL,
	[ImagePath] [nchar](10) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NOT NULL,
	[BookDesc] [nvarchar](300) NOT NULL,
	[ImagePath] [nchar](10) NULL,
	[BookTypeID] [int] NULL,
 CONSTRAINT [PK_Book_1] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[BookAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookSupply]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookSupply](
	[BookSupplyID] [int] IDENTITY(1,1) NOT NULL,
	[BookKey] [int] NOT NULL,
	[SupplierKey] [int] NOT NULL,
	[SupplyQuantity] [char](10) NOT NULL,
	[SupplyDate] [date] NOT NULL,
	[BookSupplyPiecePrice] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_BookSupply] PRIMARY KEY CLUSTERED 
(
	[BookSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookType]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookType](
	[BookTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BookTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookType] PRIMARY KEY CLUSTERED 
(
	[BookTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientFinstName] [nvarchar](50) NOT NULL,
	[ClientSecondName] [nvarchar](50) NOT NULL,
	[ClientPatronymic] [nvarchar](50) NOT NULL,
	[ClientEmail] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[AdressIndexKey] [char](10) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ClientKey] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderIndex]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderIndex](
	[Index] [char](10) NOT NULL,
 CONSTRAINT [PK_OrderIndex] PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderKey] [int] NOT NULL,
	[BookKey] [int] NOT NULL,
	[OrderBookQuantity] [char](5) NOT NULL,
	[BookTypekey] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[SupplierINN] [char](10) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.05.2026 7:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLogIn] [nvarchar](50) NOT NULL,
	[UserPasssword] [nvarchar](50) NOT NULL,
	[RoleKey] [int] NOT NULL,
 CONSTRAINT [PK_OrderType] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (1, N'Рэй', N'Брэдбери', N'Дуглас', NULL, NULL)
INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (2, N'Филип', N'Дик', N'Киндред', NULL, NULL)
INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (3, N'Айзек', N'Азимов', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID]) VALUES (1, N'451 градус по Фаренгейту', N'Роман-антиутопия о тоталитарном обществе, где книги под запретом, а пожарные сжигают их.', NULL, 3)
INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID]) VALUES (2, N'Вино из одуванчиков', N'Автобиографический роман о лете 1928 года, наполненном открытиями и радостями детства.', NULL, 1)
INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID]) VALUES (3, N'Марсианские хроники', N'Цикл рассказов о колонизации Марса и встрече человеческой цивилизации с древней марсианской.', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] ON 

INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (405, 1, 1)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (406, 1, 2)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (407, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookType] ON 

INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (1, N'Аудио')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (2, N'Документ')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (3, N'Интерактивный')
SET IDENTITY_INSERT [dbo].[BookType] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (1, N'Иван', N'Петров', N'Сергеевич', N'ivan.petrov@email.ru')
INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (2, N'Мария', N'Сидорова', N'Александровна', N'm.sidorova@mail.ru')
INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (3, N'Алексей', N'Иванов', N'Михайлович', N'alex.ivanov@habarovsk.ru')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey]) VALUES (1, N'101000    ', CAST(N'2025-01-20' AS Date), 1)
INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey]) VALUES (2, N'443000    ', CAST(N'2026-02-28' AS Date), 2)
INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey]) VALUES (3, N'119021    ', CAST(N'2026-02-28' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'101000    ')
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'107078    ')
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'119021    ')
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (1, N'Издательство "Эксмо"', N'7717113140')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (2, N'Издательская группа "АСТ"', N'7717113139')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (3, N'Издательство "Росмэн"', N'7702700103')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserLogIn], [UserPasssword], [RoleKey]) VALUES (1, N'Admin', N'Admin', 1)
INSERT [dbo].[Users] ([UserID], [UserLogIn], [UserPasssword], [RoleKey]) VALUES (2, N'Manager', N'Manager1', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BookType] FOREIGN KEY([BookTypeID])
REFERENCES [dbo].[BookType] ([BookTypeID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BookType]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Author]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Book]
GO
ALTER TABLE [dbo].[BookSupply]  WITH CHECK ADD  CONSTRAINT [FK_BookSupply_Supplier] FOREIGN KEY([SupplierKey])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[BookSupply] CHECK CONSTRAINT [FK_BookSupply_Supplier]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([ClientKey])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderIndex1] FOREIGN KEY([AdressIndexKey])
REFERENCES [dbo].[OrderIndex] ([Index])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderIndex1]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderKey])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleKey])
REFERENCES [dbo].[Roles] ([RoleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
