USE [master]
GO
/****** Объект:  Database [ElochniBookStore2]    Дата создания скрипта: 06.06.2026 18:03:22 ******/ 
CREATE DATABASE [ElochniBookStore2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElochniBookStore2', FILENAME = N'D:\sqlll\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElochniBookStore2.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElochniBookStore2_log', FILENAME = N'D:\sqlll\MSSQL17.MSSQLSERVER\MSSQL\DATA\ElochniBookStore2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElochniBookStore2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElochniBookStore2]
GO
/****** Объект:  Table [dbo].[AdressIndex]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdressIndex](
	[AdressID] [int] NOT NULL,
	[AdressName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_AdressIndex] PRIMARY KEY CLUSTERED 
(
	[AdressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Author]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorFirstName] [nvarchar](50) NOT NULL,
	[AuthorSecondName] [nvarchar](50) NOT NULL,
	[AuthorPatronymic] [nvarchar](50) NULL,
	[AuthorBio] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Book]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NOT NULL,
	[BookDesc] [nvarchar](300) NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
	[BookTypeID] [int] NULL,
	[count] [int] NULL,
	[price] [money] NOT NULL,
 CONSTRAINT [PK_Book_1] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BookAuthors]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[BookAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BookReviews]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[BookKey] [int] NOT NULL,
	[UserKey] [int] NOT NULL,
	[ReviewText] [nvarchar](max) NOT NULL,
	[ReviewDate] [datetime] NULL,
	[RatingSum] [int] NULL,
	[BookScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BookSupply]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookSupply](
	[BookSupplyID] [int] IDENTITY(1,1) NOT NULL,
	[BookKey] [int] NOT NULL,
	[SupplierKey] [int] NOT NULL,
	[SupplyQuantity] [char](10) NOT NULL,
	[SupplyDate] [date] NOT NULL,
	[BookSupplyPiecePrice] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_BookSupply] PRIMARY KEY CLUSTERED 
(
	[BookSupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[BookType]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookType](
	[BookTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BookTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookType] PRIMARY KEY CLUSTERED 
(
	[BookTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Client]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientFinstName] [nvarchar](50) NOT NULL,
	[ClientSecondName] [nvarchar](50) NOT NULL,
	[ClientPatronymic] [nvarchar](50) NOT NULL,
	[ClientEmail] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Order]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[AdressIndexKey] [char](10) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ClientKey] [int] NOT NULL,
	[StatusKey] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderIndex]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderIndex](
	[Index] [char](10) NOT NULL,
 CONSTRAINT [PK_OrderIndex] PRIMARY KEY CLUSTERED 
(
	[Index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderItem]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderKey] [int] NOT NULL,
	[BookKey] [int] NOT NULL,
	[OrderBookQuantity] [char](5) NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderStatuses]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ReviewVotes]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewVotes](
	[VoteID] [int] IDENTITY(1,1) NOT NULL,
	[ReviewKey] [int] NOT NULL,
	[UserKey] [int] NOT NULL,
	[VoteValue] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Supplier]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[SupplierINN] [char](10) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLogIn] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[RoleKey] [int] NOT NULL,
 CONSTRAINT [PK_OrderType] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (1, N'Рэй', N'Брэдбери', N'Дуглас', NULL, N'/images/authors/1.jpg')
INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (2, N'Филип', N'Дик', N'Киндред', NULL, NULL)
INSERT [dbo].[Author] ([AuthorID], [AuthorFirstName], [AuthorSecondName], [AuthorPatronymic], [AuthorBio], [ImagePath]) VALUES (3, N'Айзек', N'Азимов', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID], [count], [price]) VALUES (1, N'451 градус по Фаренгейту', N'Роман-антиутопия о тоталитарном обществе, где книги под запретом, а пожарные сжигают их.', N'/images/books/2.jpg', 3, 55, 1200.0000)
INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID], [count], [price]) VALUES (2, N'Вино из одуванчиков', N'Автобиографический роман о лете 1928 года, наполненном открытиями и радостями детства.', NULL, 1, 45, 1200.0000)
INSERT [dbo].[Book] ([BookID], [BookName], [BookDesc], [ImagePath], [BookTypeID], [count], [price]) VALUES (3, N'Марсианские хроники', N'Цикл рассказов о колонизации Марса и встрече человеческой цивилизации с древней марсианской.', NULL, 1, 32, 1200.0000)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] ON 

INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (405, 1, 1)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (406, 1, 2)
INSERT [dbo].[BookAuthors] ([BookAuthorID], [AuthorID], [BookID]) VALUES (407, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[BookAuthors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookReviews] ON 

INSERT [dbo].[BookReviews] ([ReviewID], [BookKey], [UserKey], [ReviewText], [ReviewDate], [RatingSum], [BookScore]) VALUES (1, 2, 3, N'ГООВВНООО', CAST(N'2026-06-06T15:52:48.367' AS DateTime), -1, 5)
INSERT [dbo].[BookReviews] ([ReviewID], [BookKey], [UserKey], [ReviewText], [ReviewDate], [RatingSum], [BookScore]) VALUES (2, 2, 4, N'обложка книжки осуществлена из фимоза', CAST(N'2026-06-06T16:03:50.377' AS DateTime), 2, 5)
INSERT [dbo].[BookReviews] ([ReviewID], [BookKey], [UserKey], [ReviewText], [ReviewDate], [RatingSum], [BookScore]) VALUES (3, 2, 3, N'ладно, нормально', CAST(N'2026-06-06T16:27:39.153' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[BookReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[BookType] ON 

INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (1, N'Аудио')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (2, N'Документ')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (3, N'Интерактивный')
SET IDENTITY_INSERT [dbo].[BookType] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (1, N'Иван', N'Петров', N'Сергеевич', N'ivan.petrov@email.ru')
INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (2, N'Мария', N'Сидорова', N'Александровна', N'm.sidorova@mail.ru')
INSERT [dbo].[Client] ([ClientID], [ClientFinstName], [ClientSecondName], [ClientPatronymic], [ClientEmail]) VALUES (3, N'Алексей', N'Иванов', N'Михайлович', N'alex.ivanov@habarovsk.ru')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey], [StatusKey]) VALUES (11, N'680001    ', CAST(N'2026-06-06' AS Date), 3, 1)
INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey], [StatusKey]) VALUES (12, N'614000    ', CAST(N'2026-06-06' AS Date), 3, 1)
INSERT [dbo].[Order] ([OrderID], [AdressIndexKey], [OrderDate], [ClientKey], [StatusKey]) VALUES (13, N'658413    ', CAST(N'2026-06-06' AS Date), 3, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'101000    ')
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'107078    ')
INSERT [dbo].[OrderIndex] ([Index]) VALUES (N'119021    ')
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderKey], [BookKey], [OrderBookQuantity]) VALUES (1, 11, 1, N'1    ')
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderKey], [BookKey], [OrderBookQuantity]) VALUES (2, 12, 1, N'1    ')
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderKey], [BookKey], [OrderBookQuantity]) VALUES (3, 13, 3, N'1    ')
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (1, N'Оформлен')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (2, N'Комплектуется на складе')
INSERT [dbo].[OrderStatuses] ([StatusID], [StatusName]) VALUES (3, N'Готов к выдаче')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewVotes] ON 

INSERT [dbo].[ReviewVotes] ([VoteID], [ReviewKey], [UserKey], [VoteValue]) VALUES (3, 2, 4, 1)
INSERT [dbo].[ReviewVotes] ([VoteID], [ReviewKey], [UserKey], [VoteValue]) VALUES (4, 1, 3, -1)
INSERT [dbo].[ReviewVotes] ([VoteID], [ReviewKey], [UserKey], [VoteValue]) VALUES (5, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[ReviewVotes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (1, N'Издательство "Эксмо"', N'7717113140')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (2, N'Издательская группа "АСТ"', N'7717113139')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [SupplierINN]) VALUES (3, N'Издательство "Росмэн"', N'7702700103')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserLogIn], [UserPassword], [RoleKey]) VALUES (1, N'Admin', N'Admin', 1)
INSERT [dbo].[Users] ([UserID], [UserLogIn], [UserPassword], [RoleKey]) VALUES (2, N'Manager', N'Manager1', 2)
INSERT [dbo].[Users] ([UserID], [UserLogIn], [UserPassword], [RoleKey]) VALUES (3, N'мицелий', N'123', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Объект:  Index [UC_User_Vote_Unique]    Дата создания скрипта: 06.06.2026 18:03:23 ******/ 
ALTER TABLE [dbo].[ReviewVotes] ADD  CONSTRAINT [UC_User_Vote_Unique] UNIQUE NONCLUSTERED 
(
	[ReviewKey] ASC,
	[UserKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookReviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[BookReviews] ADD  DEFAULT ((0)) FOR [RatingSum]
GO
ALTER TABLE [dbo].[BookReviews] ADD  DEFAULT ((5)) FOR [BookScore]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [StatusKey]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BookType] FOREIGN KEY([BookTypeID])
REFERENCES [dbo].[BookType] ([BookTypeID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BookType]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Author]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Book]
GO
ALTER TABLE [dbo].[BookReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Books] FOREIGN KEY([BookKey])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[BookReviews] CHECK CONSTRAINT [FK_Reviews_Books]
GO
ALTER TABLE [dbo].[BookReviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserKey])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BookReviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[BookSupply]  WITH CHECK ADD  CONSTRAINT [FK_BookSupply_Supplier] FOREIGN KEY([SupplierKey])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[BookSupply] CHECK CONSTRAINT [FK_BookSupply_Supplier]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderIndex1] FOREIGN KEY([AdressIndexKey])
REFERENCES [dbo].[OrderIndex] ([Index])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderIndex1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatuses] FOREIGN KEY([StatusKey])
REFERENCES [dbo].[OrderStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatuses]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([ClientKey])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Book] FOREIGN KEY([BookKey])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Book]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderKey])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[ReviewVotes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_Reviews] FOREIGN KEY([ReviewKey])
REFERENCES [dbo].[BookReviews] ([ReviewID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewVotes] CHECK CONSTRAINT [FK_Votes_Reviews]
GO
ALTER TABLE [dbo].[ReviewVotes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_Users] FOREIGN KEY([UserKey])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReviewVotes] CHECK CONSTRAINT [FK_Votes_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleKey])
REFERENCES [dbo].[Roles] ([RoleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
